.btn {
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 1%;
    text-decoration: none;
    text-align: center;
}
.btn-success:hover {
    background-color: darkgreen;
    transition: 0.3s;
    box-shadow: 1px 2px 2px gray;
}
